.navBar
{
	background-color: red !important;
}

.sapMSLITitle
{
	color: 	 rgb(97,106,113) !important;
}

.sapMILILabel, .sap-ios .sapMDLILabel,
.sap-android .sapMDLILabel
{
	color: 	 rgb(97,106,113) !important;
}

.sapMSLIDescription
{
	color: 	 rgb(177,186,192);
}

.sapMBar.sapMHeader-CTX
{
	background-image: -webkit-linear-gradient(top,#4f4f4f 0,#171717 50%,rgb(97,106,113) 100%) !important;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#4f4f4f),color-stop(0.2,#171717),color-stop(1.0,rgb(97,106,113))) !important;
}

.sapMBar-CTX.sapMHeader-CTX .sapMLabel
{
	color: 	 rgb(41,171,226);	
}

.sap-android .sapMDLIValue,
.sap-ios .sapMDLIValue 
{
	color: 	 rgb(41,171,226) !important;	
}

.sap-ios .sapMListInsetBG,
.sapMPageBgStandard, .sapMPageBgList {
	background-color: rgb(241,241,241) ;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sap-android .sapMDLILabel
{
	display: inline-block;
	width: 30%;
}
.sap-android .sapMDLIValue
{
	display: inline-block;
	width: 65%;
	text-align: right;
}

.sap-ios .sapMDialogTitle,
.sap-android .sapMDialogTitle
{
	color: 	 rgb(41,171,226) !important;	
}

.sap-ios .sapMLabel
{
	color: 	 rgb(241,241,241) !important;	
}

.sap-android .sapMLabel
{
	color: 	 rgb(97,106,113) !important;	
}